@import '../../../../assets/styles/base/variables';

.question-item {
    padding: 12px 25px;
    display: grid;
    grid-template-columns: 1fr 15%;
    column-gap: 30px;
    border: solid 1px $grey-300;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 5px;
    background-color: rgba($stroke-color, .25);
    border-left: solid 3px $primary;
    animation: appear .2s ease-in;
    position: relative;

    >.help--button {
        position: absolute;
        right: 5px;
        top: 7px;
    }

    @keyframes appear {
        from {
            transform: translateY(-15px);
        }
        to {
            transform: translate(0);
        }
    }
    >.question-label {
        font-size: 13px;
        line-height: 21px;
    }
    >.checkboxes {
        .ant-radio-wrapper {
            line-height: 12px !important;
            height: 20px !important;
            span {
                font-size: 11px;
            }
        }
    }
}

.sp-responded {
    padding: 5px 15px;
    >.question-label {
        font-size: 12px;
        line-height: 15px;
        margin-top: 0;
    }
    >.checkboxes {
        .ant-radio-wrapper {
            line-height: 10px !important;
            height: 20px !important;
            span {
                font-size: 11px;
            }
        }
    }
}

#provision-content {
    h3 {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    p {
        font-size: 13px;
        margin-bottom: 8px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 14px;
        margin-top: 6px;
        font-weight: 500;
    }
    span {
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        padding: 25px
    }
}