@import '.././../../assets/styles/base/variables';

.header {
    background-color: $primary;
    padding: 7px 24px !important;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .state-label {
        font-size: 15px;
        line-height: 21px;
        color: white;
    }

    .ant-page-header {
        padding: 0 !important;
        .ant-page-header-heading-title {
            color: white;
            font-size: 16px;
            line-height: 19px !important;
            @media only screen and (max-width: 1366px) {
                font-size: 14px;
            }
        }
        .ant-btn > span {
            font-size: 13px;
        }
    }
}