@import '../../../../assets/styles/global.scss';

.saatm-content {
    padding-left: 23px;
    padding-right: 23px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 'a1 a1 a2 a2' 'a3 a3 a3 a3';
    gap: 25px;

    >.section {
        border: solid 1px $stroke-color;
        display: grid;
        .highcharts-container  {
            width: 100% !important;
            svg {
                width: 100% !important;
            }
        }
    }

    >.africa-chart {
        grid-area: a1;
        height: 600px;
        padding: 10px;
        .bar-wrapper >div {
            height: 550px !important;
            width: 600px !important;
            @media only screen and (max-width: 1800px) {
                width: 500px !important;
            }
            @media only screen and (max-width: 1366px) {
                width: 430px !important;
            }
        }
    }
    >.charts {
        grid-area: a2;
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        height: 100%;
        align-content: center;
        >#div-for-piechart {
            height: 330px;
            >div {
                width: 90% !important;
            }
        }
        >#div-for-barchart {
            height: 600px;
        }
    }
    >.raw-datas {
        grid-area: a3;
        margin-top: 15px;
        border: none !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        margin-bottom: 15px;
        >.raw {
            border: solid 1px $stroke-color;
            padding: 20px 25px;
            height: 110px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            >h2 {
                font-size: 15px;
                text-transform: uppercase;
            }
            >h3 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                >span {
                    font-size: 13px !important;
                    color: $grey-400 !important;
                }
            }
        }
        >.raw--1  {
            border-bottom: solid 3px $primary;
            >h3 {color: $primary;}
        }
        >.raw--2  {
            border-bottom: solid 3px orange;
            >h3 {color: orange;}
        }
    }
    >.stacked-bar {
        grid-area: a3;
        margin-top: 15px;
        border: none !important;
        display: grid;
        .stacked-bar-wrapper {
            height: 100px;
            width: 90%;
        }
    }
}

.kpi-infos-box {
    padding: 23px;
    padding-top: 0;
    margin-top: 20px;
    >div {
        margin-bottom: 8px;
        background-color: #00b96d !important;
        border-color: #00b96d;
        .ant-alert-message {
            color: white;
        }
    }
}