@import '../../../assets/styles/global.scss';

#yd-monitoring-container {
    height: 100vh;
    >.yd-monitoring-content-wrapper {
        display: grid;
        grid-template-columns: 28% 70%;
        grid-template-rows: calc(100vh - 120px);
        justify-content: space-between;
        margin: 10px;
        margin-top: 20px;
        >.yd-left-panel {
            border: solid 1px $stroke-color;
            border-radius: 5px;
            background-color: $white;
            >.org-states-content {
                display: grid;
                grid-template-columns: 49% 1px 49%;
                grid-auto-columns: 1fr;
                justify-content: space-between;
                column-gap: 0px;
                height: 100%;
    
                >.org-listing {
                    overflow-y: scroll;
                    height: 100%;
                    overflow-x: hidden;
                }
                >.states-listing {
                    overflow-y: scroll;
                    height: 100%;
                    overflow-x: hidden;
                }
                .line {
                    height: 100%;
                    width: 1px;
                    background-color: $stroke-color;
                }
            }
        }
        >.left-panel-single-column {
            >.org-states-content {
                display: grid;
                grid-template-columns: 100% !important;
            }
        }
    
        >.data-content {
            border: solid 1px $stroke-color;
            border-radius: 5px;
            padding: 0 !important;
            background-color: $white;
            .content-container {
                // overflow: scroll !important;
                height: 100%;
            }
        }

    }

}