@import '../../../assets/styles/global.scss';

#home-screen-container {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(rgba($white, 0.5), rgba($white, 0.5)), url('../../../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    >.title {
        font-size: 18px;
        color: $primary;
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
    }
    >.options {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        column-gap: 50px;
        align-items: center;
        justify-content: center;
        >.option {
            cursor: pointer;
            height: 300px;
            padding: 50px 30px;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            transition: all .2s ease-in;
            background-color: $primary;
            align-content: center;
            &:hover {
                transform: translateY(-10px)
            }
            &:hover .option-name{
                font-size: 17px;
            }
            svg {
                width: 45px;
                height: 45px;
                path {
                    fill: $white;
                }
            }
            >.option-name {
                transition: all .2s ease-in;
                color: $white;
                font-size: 17px;
                font-weight: bold;
                margin-top: 12px
            }
        }
    }
}