@import '../../../../assets/styles/global.scss';

.yd-content {
    padding-left: 23px;
    padding-right: 23px;
    display: grid;
    grid-template-areas: 'a1 a1 a2 a2' 'a3 a3 a3 a3';
    gap: 25px;

    >.section {
        border: solid 1px $stroke-color;
        display: grid;
        .highcharts-container  {
            width: 100% !important;
            svg {
                width: 100% !important;
            }
        }
    }

    >.africa-chart {
        grid-area: a1;
        height: 600px;
        padding: 10px;
    }
    >.charts {
        grid-area: a2;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    >.raw-datas {
        grid-area: a3;
        margin-top: 15px;
        border: none !important;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        margin-bottom: 15px;
        >.raw {
            border: solid 1px $stroke-color;
            padding: 20px 25px;
            height: 110px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            >h2 {
                font-size: 15px;
                text-transform: uppercase;
            }
            >h3 {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        >.raw--1  {
            border-bottom: solid 3px $primary;
            >h3 {color: $primary;}
        }
        >.raw--2  {
            border-bottom: solid 3px orange;
            >h3 {color: orange;}
        }
        >.raw--3  {
            border-bottom: solid 3px $grey-300;
            >h3 {color: $grey-300;}
        }
    }
}

.kpi-infos-box {
    padding: 23px;
    padding-top: 0;
    >div {
        margin-bottom: 8px;
    }
}