@import '../../../../assets/styles/global.scss';

.yd-content {
    padding-left: 23px;
    padding-right: 23px;
    display: grid;
    grid-template-areas: 'a1 a1 a1 a2 a2' 'a3 a3 a3 a3 a3';
    gap: 25px;

    >.section {
        border: solid 1px $stroke-color;
        display: grid;
        .highcharts-container  {
            width: 100% !important;
            svg {
                width: 100% !important;
            }
        }
    }

    >.africa-chart {
        grid-area: a1;
        height: 600px;
    }
    >.charts {
        grid-area: a2;
        padding: 30px;
    }
    >.raw-datas {
        grid-area: a3;
        padding: 30px;
    }
}