@import '../../../../assets/styles/base/variables';

.article-content{
    display: grid;
    grid-auto-columns: 1fr;
    padding: 20px 80px 40px 80px;
    background-color: $white;
    align-content: flex-start;

    .title-box {
        // background-color: $primary;
        // border-radius: 10px;
        margin-bottom: 10px;
        h3 {
            margin-bottom: 0;
            // color: $white;
            font-size: 17px;
        }
    }

    >.search--box {
        margin-top: 5px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    >.article-items {
        padding: 5px 10px;
        height: calc(100vh - 450px);
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        align-content: flex-start;
        .article--item {
            width: 100%;
            margin-top: 10px;
            cursor: pointer;
            border: solid 1px rgba($stroke-color, .5);
            box-shadow: 0 2px 10px rgba(#000, .12);
            padding: 15px 15px;
            transition: all .1s ease-in;
            background-color: rgba($stroke-color, .15);
            animation: display .3s ease-in;
            h5 {
                margin-bottom: 0; 
                font-size: 14px !important;
                font-weight: 500;
            }
            &:hover {
                background-color: rgba($stroke-color, .3);
            }
            @media only screen and (max-width: 1024px) {
                width: 95%;
            }
            @keyframes display {
                from {
                    transform: translateY(-10px);
                }
                to {
                    transform: translateY(0px);
                }
            }
            .ant-typography {
                font-size: 15px !important;
            }
        }
    }
    .article--title {
        margin-bottom: 5px;
        box-shadow: 0 2px 10px rgba(#000, .15);
        padding: 20px 15px;;
        h3 {
            line-height: 22px;
            font-size: 15px;
            font-weight: 600;
        }
        h4 {
            line-height: 22px;
            font-size: 14px;
            font-weight: 500;
            margin-top: 8px;
        }
        p {
            font-size: 12.5px;
            line-height: 22px;
        }
    }

    .search--result {
        .no--result {
            font-size: 14px;
            text-align: center;
            padding: 20px;
        }
        .results--list {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            justify-content: center;
            .result--item {
                width: 100%;
                border-radius: 5px;
                margin-top: 8px;
                cursor: pointer;
                border: solid 1px $stroke-color;
                padding: 10px 15px;
                transition: all .1s ease-in;
                background-color: rgba($stroke-color, .4);
                h5 {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    b {font-weight: bold;}
                }
                @media only screen and (max-width: 1024px) {
                    width: 90%;
                }
                &:hover {
                    background-color: #eff1f1;
                }
            }
        }
    }
}
