@import '../../../../assets/styles/global.scss';

.states-list {

    .ant-menu-inline .ant-menu-submenu-title {
        padding-left: 15px !important;
    }
    .ant-menu {
        border: none !important;
        .ant-menu-item {
            padding-left: 15px !important;
            margin: 0 !important;
        }
        .ant-menu-item-only-child {
            font-size: 12px !important;
        }
    }
}