@import '../../../../assets/styles/global.scss';

.yd-monitoring-content {
    overflow-y: scroll;
    height: calc(100vh - 160px);
    padding-left: 23px;
    padding-right: 23px;
    display: grid;
    grid-auto-columns: 1fr;
    padding: 20px 50px;
    background-color: $white;
    align-content: flex-start;
    >.questions-list {
        margin-top: 10px;
    }
    >.buttons {
        margin-top: 15px;
        padding-bottom: 25px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;
        >.ant-btn {
            width: 130px;
        }
    }
}

.completed--res {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        margin-top: 20px;
    }
}