@import '../../../../assets/styles/global.scss';

.help-content {
    display: grid;
    grid-auto-columns: 1fr;
    padding: 40px 50px 40px 50px;
    background-color: $white;
    align-content: flex-start;

    
}
